---
const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mi",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
];
---

<header
  class="fixed top-0 z-10 flex justify-center items-center w-full mx-auto mt-2"
>
  <nav
    class="nav-header flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block p-2 transition hover:text-blue-500"
          href={link.url}
          aria-label={link.label}
        >
          {link.title}
        </a>
      ))
    }
    <!-- <a href="/">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a> -->
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadow {
    0% {
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;
      backdrop-filter: blur(0);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
      backdrop-filter: blur(24px);
    }
  }
</style>
