---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Junio 2024 - Actualidad",
    title: "Programador - InfinetCloud",
    description:
      "Actualmente colaboro como desarrollador en InfinetCloud, una empresa del sector de telecomunicaciones, donde participo en la mejora de procesos internos mediante tecnologías como FileMaker y Node.js. Además, contribuí al desarrollo de su sitio web corporativo para fortalecer su presencia digital.",
    link: "https://www.infinetcloud.mx/",
  },
];
---

<ol class="relative border-s border-default">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4 ml-3">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
