<a
  {...Astro.props}
  class={`rounded-full border border-black/10 flex justify-center items-center gap-x-4 py-2 px-4 bg-black/5 hover:scale-110 hover:bg-black/10 transition`}
  target="_blank"
  rel="noopener norefer"
>
  <slot />
</a>
